$color: rgb(74, 79, 128);
$bar-color: rgb(66, 76, 168);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 239, 255);
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-bar {
  max-width: 600px;
  justify-self: center;
  h1 {
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid black;
  }
  textarea {
    resize: none;
  }
  font-family: sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  &-summary {
    &-text {
      min-width: 100%;
      max-width: 100%;
    }
  }
  &-contact,
  &-experience,
  &-skills,
  &-education,
  &-summary {
    // border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    input,
    select {
      padding: 0.5rem;
      border-radius: 0.4rem;
      border: 1px solid black;
    }
    label {
      margin: 0.6rem 0 0.2rem;
    }
  }
}

textarea {
  padding: 0.4rem;
  font-size: 0.9rem;
}

.link  {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin: 0.5rem 0;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  background-color: $bar-color;
  transition: 0.2s ease;
  &:hover {
    background-color: rgba(66, 76, 168, 0.822);
  }
}

.item {
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 5px 10px rgba(66, 76, 168, 0.315);
  padding: 0.5rem;
}

.experiences, .contacts, .skills, .education {
  margin: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.cv {
  width: 794px;
  height: 1123px;
  background-color: white;
  padding: 0 2rem;
  font-family: sans-serif;
  line-height: 1.5rem;

  .title-bar {
    background-color: $bar-color;
    height: 1.6rem;
    width: 100%;
    align-self: center;
  }

  .section {
    border-bottom: 2px solid $bar-color;
    padding-bottom: 1rem;
  }

  ul {
    list-style-type: circle;
    padding-left: 1rem;
  }

  &-top__bar {
    background-color: $bar-color;
    height: 3rem;
  }
  &-name {
    padding: 1rem 0;
    border-bottom: 2px solid $bar-color;
    color: $color;
  }
  &-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    &-title {
      display: grid;
      gap: 1rem;
      grid-template-columns: max-content auto;
      padding: 2rem 0 0.5rem;
      color: $color;
    }
    &-experience-title {
      padding-top: 1rem;
    }
    &-skills,
    &-contact,
    &-summary,
    &-experience,
    &-education {
      height: min-content;
    }
  }
}
